accelerate>=1.10.0
bert-score>=0.3.13
dirtyjson>=1.0.8
evaluate>=0.4.3
langchain-community>=0.3.24
langchain-core>=0.3.59
langchain-openai>=0.3.30
langchain>=0.3.25
langchain_gigachat
langchain_huggingface>=0.3.1
langdetect>=0.4.31
nltk>=3.9.1
rouge_score>=0.1.2
ruff
scikit-learn>=1.6.1
tqdm>=4.67.1
urllib3>=2.3.0